@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:ital,wght@0,100;1,300&display=swap');
body,
html {
    height: 100%;
}

body {
    overflow: visible !important;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif !important;
    /* font-family: 'Roboto', sans-serif !important; */
}

#root {
    height: 100%;
}

hr {
    margin-bottom: 0 !important
}

button {
    border: none
}

a:hover,
a:focus {
    text-decoration: none !important;
}

p {
    font-size: 20px;
}

.MuiButton-label {
    font-size: 15px;
}

.MuiTypography-root {
    font-size: 15px !important;
}

.MuiAvatar-colorDefault {
    background-color: transparent !important;
}

.MuiAvatarGroup-root>.MuiAvatar-circle {
    background-color: rgb(168, 168, 168) !important;
}

.MuiListItemAvatar-root {
    min-width: 0 !important;
    margin-right: 5px;
}

.MuiSvgIcon-root {
    color: black !important;
    font-size: 30px !important;
}

.MuiDialog-paperScrollPaper {
    width: 40% !important;
    border-radius: 10px !important;
    padding: 15px
}

.MuiInputLabel-marginDense {
    font-size: 13px !important
}


/* fb-grid */

.height-one {
    width: 100%;
    padding-top: 50% !important;
}


/*  */

#searchInput {
    border: none !important;
    font-size: 15px;
    padding: 7px;
}

.MuiBadge-colorPrimary {
    background-color: rgb(0, 218, 0) !important;
}


/* tabbar */

.MuiTab-textColorInherit {
    width: 50% !important;
    color: black !important;
    text-transform: initial !important;
    font-size: 15px !important;
    font-weight: 600 !important;
}

.MuiAppBar-colorPrimary {
    background: none !important;
    box-shadow: none !important;
}

.MuiTabs-flexContainer .Mui-selected {
    color: #0478B9 !important;
}

.MuiTab-textColorInherit {
    max-width: 50% !important
}

.MuiTabs-indicator {
    width: 50% !important;
    background-color: #0478B9 !important
}


/* input */

.MuiInputBase-input {
    font-size: 17px !important;
}


/* group title */

.group-title {
    font-size: 18px !important;
    font-weight: bold !important;
    background-color: #0478b9eb!important;
    color: white;
    padding: 8px 10px;
    border-radius: 10px;
}

.MuiInput-underline {
    width: 100%
}

.UserList-searchInput-35>.MuiInputBase-input {
    font-size: 15px !important;
}

input:focus-visible {
    border: none;
    outline: none
}

.MuiDialog-root {
    z-index: 1200 !important;
}

.swal2-container {
    z-index: 1300 !important;
}

.MuiInputBase-input {
    font-size: 13px !important
}

.UploadPostModel-capInput-7 {
    font-size: 13px !important
}

time {
    font-size: 13px !important
}


/* photo list */

.photo-grid {
    width: 100%;
}

.photo-grid_column {
    width: 100% !important;
}

div.fullscreen-container {
    position: static !important;
}

.photoItem {
    width: 133px;
    height: auto;
    margin: 1px;
    border: 3px solid white;
    border-radius: 7px;
}

.images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
}

.fullscreen-image img {
    width: 120px;
    height: auto;
    margin: 5px;
}

@media(max-width: 958px) {
    .responsiveGrid {
        margin: 0 !important
    }
}

.MuiBox-root-112>a {
    color: black !important;
}


/* width */

::-webkit-scrollbar {
    width: 5px;
    border-radius: 10px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: rgb(175, 175, 175);
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: rgb(141, 141, 141);
}